.btns button{
  border: none;
  background: #fff;
  cursor: pointer;
}



  .ant-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
